table {
	border-collapse: collapse;
}

td {
	vertical-align: top;
}

* {
	cursor: default;
}

body {
	margin: 0;
	font: 14px Arial;
	background: url(bg.png);
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.node {
	min-width: 150px;
	position: absolute;
	border: 1px solid black;
	padding: 7px 0;
	background: rgba(31, 31, 31, 0.9);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 0 5px black;
	-moz-box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
}

.node.selected {
	margin: -1px;
	border: 2px solid yellow;
}

.node table {
	width: 100%;
}

.node td {
	color: white;
	font-size: 11px;
	padding: 0;
}

.node .title {
	margin: -3px 0 5px 0;
	color: yellow;
	font: 12px monospace;
	padding: 0 10px 5px 10px;
}

.node .edit-link {
	text-align: right;
	padding: 0 10px 5px 10px;
}

.node .edit-link span {
	font-size: 10px;
	text-decoration: underline;
	color: #3F3F3F;
	cursor: pointer;
}

.node .input {
	padding: 0 10px 0 19px;
}

.node .output {
	padding: 0 19px 0 10px;
	text-align: right;
}

.bullet {
	width: 6px;
	height: 6px;
	padding: 3px;
	display: inline-block;
}

.bullet div {
	width: 6px;
	height: 6px;
	background: white;
	border-radius: 3px;
}

.node .input .bullet {
	float: left;
	margin-left: -12px;
}

.node .output .bullet {
	float: right;
	margin-right: -12px;
}

.selectionbox {
	position: absolute;
	border: 1px solid #7F7F7F;
	background: rgba(255, 255, 255, 0.1);
	display: none;
}
