body {
	margin: 100px;
	background: #2F2F2F;
}

.mac-hud {
	display: none;
	position: relative;
	font: 12px 'Lucida Grande', Helvetica, Arial, sans-serif;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	border-radius: 10px;
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	background: rgba(31, 31, 31, 0.9);
	border: 1px solid #3F3F3F;
	color: white;
	cursor: default;
}

.mac-hud .closebutton {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 13px;
	height: 13px;
	line-height: 11px;
	background: #BFBFBF;
	color: black;
	font-weight: bold;
	border-radius: 7px;
	text-align: center;
}

.mac-hud .closebutton:hover {
	background: #DFDFDF;
}

.mac-hud .closebutton:active {
	background: white;
}

.mac-hud .topbar {
	height: 10px;
	margin-bottom: -10px;
	background: rgba(63, 63, 63, 0.5);
	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
}

.mac-hud .title {
	text-align: center;
	line-height: 20px;
	font-size: 10px;
}

.mac-hud .row {
	padding: 8px 10px;
}

.mac-hud .selected.row {
	background: -webkit-gradient(linear, left top, left bottom, from(#6BABF9), to(#2674DB));
	background: -moz-linear-gradient(#6BABF9, #2674DB);
	text-shadow: -1px -1px 0 #366DB0, 1px -1px 0 #366DB0, -1px 1px 0 #366DB0, 1px 1px 0 #366DB0;
}

.mac-hud .buttonbar {
	padding: 12px;
	background: #272727;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(63, 63, 63, 0.25)), to(rgba(63, 63, 63, 0)));
	background: -moz-linear-gradient(rgba(63, 63, 63, 0.25), rgba(63, 63, 63, 0));
	-webkit-border-bottom-left-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
	border-top: 1px solid #3F3F3F;
}

.mac-hud .button {
	display: inline;
	border: 1px solid #6F6F6F;
	border-radius: 12px;
	font-size: 10px;
	padding: 2px 15px;
	margin-right: 12px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(63, 63, 63, 1)), to(rgba(63, 63, 63, 0)));
	background: -moz-linear-gradient(rgba(63, 63, 63, 1), rgba(63, 63, 63, 0));
}

.mac-hud .button:active {
	border-color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(191, 191, 191, 0.75)), to(rgba(191, 191, 191, 0.25)));
	background: -moz-linear-gradient(rgba(191, 191, 191, 0.75), rgba(191, 191, 191, 0.25));
}

.mac-hud .box {
	padding: 10px;
}

.mac-hud .textbox {
	padding: 0 10px;
}
