body {
	font: 12px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.mac-toolbar {
	border-bottom: 1px solid black;
	-moz-box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
}

.nodeview {
	position: absolute;
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}

.nodeview iframe {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

.mac-hud {
	position: absolute;
	top: 100px;
	bottom: 50px;
	left: 50%;
	width: 600px;
	margin: 0 0 0 -300px;
}

.mac-hud .path {
	font: 12px Inconsolata, Consolas, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.mac-hud .rowlist {
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	bottom: 40px;
	overflow-y: auto;
}

.mac-hud .buttonbar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
